
.info-company{
  text-align: left;
  margin: 0px 7%;
}

hr{
  width:85%
}

.admin-owners{
  display: flex;
  justify-content: space-between;
}

.new-owner{
  text-align: center;
}

.admin-company{
  text-align: center;
}

.btn-right{
  align-items:"right"
}

.list-owners{
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.list-owners > li {
  margin: 3px;
}

.btn-delete-user{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* width: 69px; */
  height: 25px;
  font-size: 13px;
  border-radius: 5px;
  border-width: 0px;
  color: red;
}

@media (max-width: 768px) {
  .br-for-mobile{
    display: block;
    margin-bottom: 3.5%;
  }
  /* .br-for-mobile:after {
    content: '\A';
    white-space: pre;
} */
/* .br-for-mobile:before { content: '\A'; } */

}