
.info-company{
  text-align: left;
  margin: 0px 7%;
}

hr{
  width:85%
}

.admin-owners{
  display: flex;
  justify-content: space-between;
}

.new-owner{
  text-align: center;
}

.admin-company{
  text-align: center;
}

.btn-right{
  align-items:"right"
}

@media (max-width: 768px) {
  .br-for-mobile{
    display: block
  }
  /* .br-for-mobile:after {
    content: '\A';
    white-space: pre;
} */
/* .br-for-mobile:before { content: '\A'; } */

}