.info-company{
  text-align: left;
  margin: 0px 7%;
}

.form-add-establishment{
  text-align: center;
}

.numbers{
  width: 3em;
}

.show-sessions{
  margin: 5% 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-session{
  border: 1px solid;
  width: fit-content
}

.title-section{
  display: flex;
  margin-left: 5%;
}

.title-section-inline{
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.btn-admin{
  margin-right: 5%;
}

.timetable{
  width: fit-content;
}

.list-owners{
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.list-owners > li {
  margin: 3px;
}

.list-clients{
  width: fit-content;
}

.btn-session:active{
  background-color: olivedrab;
}

.btn-session:focus{
  background-color: olivedrab;
}

.btn-delete-user{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* width: 69px; */
  height: 25px;
  font-size: 13px;
  border-radius: 5px;
  border-width: 0px;
  color: red;
}