.sessions{
  border: 1px solid;
  display: flex;
  width: fit-content;
}

.showBooking{
  display: flex;
  flex-direction: column;
  margin-right: 9%;
}

.showBooking > li > h3{
  text-align: justify;
}

.showBooking > li > div{
  display: flex;
  justify-content: space-between;
}

.showBooking > li > hr{
  width: 100%;
}